/*CSS to be loaded into Qualtrics*/

/* Font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Staatliches&display=swap');

/* Set the main font for everything in the skin */
.Skin {
  font-family: "Open Sans"; Arial, Sans-Serif;
  background: #fff;
}

.SkinInner {
/* background: #0a8c8b; */
border-radius:0px;
}

/* Set fonts and sizes for headings */
h3, h4, h5{
  font-family:"Staatliches", Sans-Serif;
}

h3{
  font-size:18px;
  border-bottom: solid 2px #d5d5d5;
}

.Skin label.SingleAnswer:hover{
  
}

/* 
Need to do something with the background: . border-radius: and color of the hover and selection features of a survey


/* Question text, should be bolder than body  */
.Skin .QuestionText{
  font-size:15px;
  font-family: "Open Sans"; Sans-Serif;
  font-weight: 600;
}

.Skin .QuestionBody{
  line.height: 0.2em; 
  font-size: 14px;
  margin-left: 1em;
  font-family: "Open Sans";
}

.JFEScope .Skin .q-matrix .table-cell{
  font-size:15px;
  font-weight:400;
}

.Skin .Matrix .QuestionBody, .Skin .SBS .QuestionBody{
  font-size:15px;
  font-weight:600;
}

/* Weight of a matrix header row */

.Skin .Matrix th{
  font-weight:500;
}



/* Maybe Later 
.Skin #Wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -10%
}

.Skin #LogoContainer {
  padding: 15px;
  margin-top: -5px;
}

.Skin #Plug {
margin-top: -5%;
margin-bottom: -15px;
background-color: #d5d5d5;
width: 100%;
}

.gradient-h--tang-to-red {
  background: #f7b245;
  background: linear-gradient(90deg, #f7b245, #eb6971);
}

*/

