.Skin{
  font-family: 'Open Sans'
}

h3,h4{
  font-family: 'Staatliches'
}

qbold{
font-family: 'Open Sans'; 
font-weight: 600;
color: #3d3f42
}

.Skin .QuestionText {
  font-size: 17px
}

