/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Error Messages
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.JFEScope .PageErrorDialog {
    background: #fff;
}
.PageErrorDialog.RequestResponse {
  background: white;
}

#ErrorMessage {
  font-family: "Open Sans", Arial, Sans-Serif;
}

.JFEScope .PageErrorDialog .ErrorButtons button{
    font-family: "Open Sans", Arial, Sans-Serif;
}

.JFEScope .PageErrorDialog .ErrorContainer {
      font-family: "Open Sans", Arial, Sans-Serif;
    }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Set fonts and headings across most areas
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Staatliches&display=swap');


/* Set fonts and headings across most areas */
.Skin, .Skin .Questions, .Skin .EndOfSurvey, .Skin textarea, .Skin input{
  font-family: "Open Sans", Arial, Sans-Serif;
  color: #25282A;
}

/* Question text, should be bolder than body  */
.Skin .QuestionText{
  font-size:15px;
  font-family: "Open Sans", Arial, Sans-Serif;
  font-weight: 600;
}

.Skin .QuestionBody{
  line.height: 0.2em; 
  font-size: 14px;
  margin-left: 1em;
  font-family: "Open Sans", Arial, Sans-Serif;
}

/* Change the style of any user inputted text */
.Skin .TE .SL .InputText, .Skin .TE .ML .InputText, .Skin .TE .ESTB .InputText, .Skin .TE .PW .InputText, .Skin .TE .FORM .InputText, .Skin .MC .TextEntryBox, .Skin input.TextEntryBox, .Skin .TE textarea, .Skin textarea, .Skin input[type="password"], .Skin input[type="text"], .Skin input[type="search"] {
  border: 1px solid #757575;
  background-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  color: #757575;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.Skin select {
      font-family: "Open Sans", Arial, Sans-Serif;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Headings and other text style classes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h2 {
  font-size: 2.0rem;
  line-height: 1;
  font-weight:400;
  font-family: "Staatliches", Arial, sans-serif;
  color: #25282A;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

h3{
  font-family:"Open Sans", Arial, Sans-Serif;
  font-size:18px;
  margin-top:-1.5em;
  color: #4D4F50;
  /*text-indent:0.5em;*/
  padding-bottom:0.1em
}


h4 {
  border-style: solid;
  border-image: linear-gradient(to right, white,#E0E0E0,#CCC,#E0E0E0, white) 1;
  border-width: 3px 0 0 0;
  padding-top: 4.25vh;
  font-weight: 600;
  color: #25282a ;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
}

/* Style for instructions after question text */
inQ {
font-family: "Open Sans", Arial, sans-serif;
font-style: italic;
font-weight:500; 
color: #25282a;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Matrix Questions
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.JFEScope .Skin .q-matrix .table-cell{
  font-size:15px;
  font-weight:400;
}

.Skin .Matrix .QuestionBody, .Skin .SBS .QuestionBody{
  font-size:15px;
  font-weight:600;
}
/* Weight and color of a matrix header row */

.Skin .Matrix th{
  font-weight:500;
}

.JFEScope .Skin .q-matrix.mobile table td, .JFEScope .Skin .q-matrix.mobile table th, .JFEScope .Skin .q-matrix.mobile table tr {
  display: block;
  border-right: none;
}

.Skin .Matrix table {
    border-collapse: collapse !important;
}
/* Border to the right of the matrix statements */
.Skin .Matrix table th.c1 {
  text-align: left;
  border-right: 2px solid #ccc;
}
/* Border under top row of answers */
.Skin .Matrix  tr.Answers{
   border-bottom: 2px solid #ccc;
}

.Skin .Matrix tr.ChoiceRow.ReadableAlt:hover{
color: #25282a;
    }

.Skin .Matrix tr.ChoiceRow:hover{
color: #25282a;
    }



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
White space, margins etc. 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.Skin #LogoContainer {
  padding: 15px;
  background: #25282A;
  margin-bottom: 4vh;
}

.Skin #Wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3%;
}

#Logo {
    margin:0;
    }

.Skin .QuestionOuter {
  padding-bottom: 1vh;
}

.SkinInner {
border-radius:0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Navigation Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  background-color:#25282A; 
  font-family: "Open Sans", sans-serif;
}

.Skin #Buttons #NextButton:hover, 
.Skin #Buttons #PreviousButton:hover{
  color: #25282A;
  background:#B4DC7F;
  border-color:#B4DC7F;
  font-family: "Open Sans", sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Check Boxes, Radio Buttons Style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* White background around all answer selections until hover */
.Skin label.MultipleAnswer, .Skin label.SingleAnswer {
  background: rgba(0,0,0,0);
}

/* Selected answers get a gray background and a darker bold font */
.Skin label.MultipleAnswer.q-checked, .Skin label.SingleAnswer.q-checked {
  background: rbga(0,0,0,.06);
  border-radius: 4px;
  font-weight: bold;
}

.Skin label.MultipleAnswer:hover, .Skin label.SingleAnswer:hover {
  background: rgba(0,0,0,.12);
  border-radius: 4px;
  color: #25282A;
}

/* Change the color of the check boxes and radio buttons to teal when they are checked */
.Skin label.q-radio.q-checked, .Skin label.q-radio.q-checked.q-focused{
  background-color:#0a8c8b;
  border: 2px solid #25282a;
}

.Skin label.MultipleAnswer.q-checked > span::before{
  border: 2px solid #0a8c8b !important;
  background: #0a8c8b url(/jfe/themes/base-templates/qualtrics/base/version-1681934097449-755e6f/files/check.svg) no-repeat center center !important;
  background-size: auto;
  background-size: 85% !important;
}

.Skin label.q-checkbox.q-checked, .Skin label.q-checkbox.q-checked.q-focused {
  background: #0a8c8b url(/jfe/themes/base-templates/qualtrics/base/version-1682455257259-a4e956/files/check.svg) no-repeat center center !important;
  border: 2px solid #0a8c8b;
}

.Skin label.SingleAnswer.q-checked.q-focused > span::before, .Skin label.SingleAnswer.q-checked > span::before{
  background-color:#0a8c8b !important;
  border: 2px solid #25282a !important;
}

.Skin label.MultipleAnswer.q-checked, .Skin label.SingleAnswer.q-checked {
  background: rbga(0,0,0,.06);
  border-radius: 4px;
  font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Progress bar styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.Skin #ProgressBarFillContainer, .Skin .ProgressBarFillContainer {
  overflow: hidden;
  background: #e8e8eb;
  width: 100%;
  border-radius: 10px;
  height:12px;
}

.Skin .ProgressBarFill {
  background-color:#f47d54;
  height: 12px;
}

@media (max-width: 770px){
  .Skin .ProgressBarContainer label{
  color: #ffffff;
  font-size:90%;
}
.Skin #ProgressBar tr td:first-child, .Skin #ProgressBar tr td:first-child + td + td {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}
.Skin #ProgressBar{
  margin-top:0.5em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Error Message Styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*.JFEScope .PageErrorDialog .ErrorContainer {
       font-family: "Open Sans", Arial, Sans-Serif;
}

.Skin button, .Skin input, .Skin select, .Skin textarea {
    font-family: "Open Sans", Arial, Sans-Serif;
}*/

 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 End of Survey
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.Skin .EndOfSurvey {
  color: #757575;
  padding: 20px 40px;
}
